/* Globals */
a,
a:focus,
a:hover {
  color: #000; }

/* End of Globals */
/* Base structure */
html,
body {
  height: 100%; }

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #333; }

/* End of Base structure */
/* Header */
header .navbar .dropdown-menu {
  border-radius: 0;
  background-color: #111;
  opacity: 0.9; }
  header .navbar .dropdown-menu .dropdown-item {
    color: #BBB; }
    header .navbar .dropdown-menu .dropdown-item:hover {
      color: #222; }
  header .navbar .dropdown-menu .dropdown-divider {
    opacity: 0.2; }

header .navbar .navbar-collapse.show {
  background-color: #000; }

/* End of Header */
/* Footer */
/* End of Footer */
/* Fullscreen Home */
.cover-container {
  background-image: url("../images/backgrounds/bg1.jpg");
  background-size: cover; }
  .cover-container .cover {
    padding: 1.5rem;
    max-width: 42em;
    margin-left: auto;
    margin-right: auto; }
    .cover-container .cover p {
      color: #FFF;
      text-shadow: 0px 0px 4px #353535; }
    .cover-container .cover h1 {
      color: #FFF;
      text-shadow: 0px 0px 4px #353535; }
  .cover-container .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700; }

/* End of Fullscreen Home */
/* Fullscreen slider Home */
.home-slider img.d-block {
  object-fit: cover; }

.home-slider .carousel-caption {
  bottom: 35%; }
  .home-slider .carousel-caption h1 {
    text-shadow: 0px 0px 4px #353535; }
  .home-slider .carousel-caption p {
    text-shadow: 0px 0px 4px #353535; }

/* End of Fullscreen Home */
/* Search Modal */
.site-search .modal-content {
  background: #000;
  border-radius: 0; }
  .site-search .modal-content .form-control {
    border-radius: 0;
    border: 0px 0px 2px 0px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid; }
  .site-search .modal-content .close {
    position: absolute;
    right: -8px;
    top: -12px;
    width: 25px;
    height: 25px;
    background: #FFF;
    opacity: 1;
    border-radius: 14px; }

/* End of Searh Modal */
