@import 'colors';
@import 'fonts';
@import 'mixins';


/* Globals */
a,
a:focus,
a:hover {
  color: $link-color;
}
/* End of Globals */


/* Base structure */
html,
body {
  height: 100%;
}

body {
  @include display-flex();
  @include justify-content(center);
  color: $paragraph-color;
}
/* End of Base structure */


/* Header */
header { 
  //margin-bottom: 2rem;

  .navbar {

    .dropdown-menu {

      border-radius: 0;
      background-color: #111;
      opacity: 0.9;

      .dropdown-item {
        
        color: #BBB;

        &:hover {
          color: #222;
        }
      }

      .dropdown-divider {
        opacity: 0.2;
      }
    }

    .navbar-collapse.show {
      background-color: #000;
      // opacity: 0.9;
    }
  }
}
/* End of Header */


/* Footer */
footer {
  //color: rgba(255, 255, 255, .5);
}
/* End of Footer */


/* Fullscreen Home */
.cover-container {
  
  background-image: url("../images/backgrounds/bg1.jpg");
  background-size: cover;

  .cover {
    padding: 1.5rem;
    max-width: 42em;
    margin-left: auto;
    margin-right: auto;
    // background-color: #000;
    // opacity: 0.7;
    // border-radius: 8px;

    p {
      color: #FFF;
      text-shadow: 0px 0px 4px rgba(53, 53, 53, 1);
    }

    h1 {
      color: #FFF; 
      text-shadow: 0px 0px 4px rgba(53, 53, 53, 1);
    }
  }

  .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
  }

}
/* End of Fullscreen Home */

/* Fullscreen slider Home */
.home-slider {

  .d-block {
    object-fit: cover;
  }
}
/* End of Fullscreen Home */

